$primary-color:var(--Black, #232536);
$secondly-color:#FFFFFF;
$text-color: var(--Light, #FFF);
$button-color:#FCB72B;
$footer-color:#333A44;

$first-fonts: 'Sen', sans-serif; 
$second_fonts: 'Inter', sans-serif;